# Django settings
DJANGO_SECRET_KEY=replace-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend

# Database
POSTGRES_DB=edd_bot_db
POSTGRES_USER=edd_user
POSTGRES_PASSWORD=edd_password
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# Telegram bot
BOT_TOKEN=7939241037:AAHRzrPs6fGJnpbqsbzIyWZCosEEWN7ES7E
ADMIN_CHAT_ID=40324906

# Celery
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2

# Logs
LOG_LEVEL=INFO
